


<div class="example-container" [hidden]="loading" [class.example-is-mobile]="mobileQuery.matches">
  
  <mat-toolbar color="primary" class="example-toolbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
              <button
                mat-icon-button
                style="margin-top: 15px;"
                (click)="snav.toggle()"
              >
                <mat-icon>menu</mat-icon>
              </button>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
             Todo
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9">
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <div
              class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7"
              style="text-align: right; margin-top: 18px; font-size: 15px;"
            >
              <ul>
             <!-- Button -->
              </ul>
            </div>
            <div
              class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3"
              style="text-align: right; margin-top: 5px; font-size: 15px;"
            >
              <div
                style="font-size: 15px;"
                class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"
              >
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
    <!-- Toolbar -->

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56" style="background-color: rgb(196, 196, 196);color: rgb(0, 0, 0);">
        <mat-nav-list>
          <mat-list-item role="listitem" appHighlight *ngFor="let task of (tasks | sort:'title' | search:query); let i = index">
          <span appCompleted [completed]="task.completed">{{ task.title }} - {{task.date | date:'medium'}}</span>
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
          <!-- main Container -->
          <!--______________________________        Page Starts     ___________________________________________________    -->
          <div class="container" style="width:100%;height:100%;">
            <mat-card *ngIf="successMsg !== ''" class="specialcard">{{successMsg}}</mat-card>
          <!---Add Content Mat card-->   

            <mat-card class="specialcard">
              <form>
                <div [ngClass]="{ 'has-error': errorMsg !== '' }">
                <p>
                  <mat-form-field style="width:70%;" class="example-full-width" appearance="outline">
                    <mat-label >Add Todo Task</mat-label>
                    <input matInput [(ngModel)]="task" (keyup)="handleChange($event)"  id="todo" name="todo"  />
                    <mat-icon matPrefix>post_add</mat-icon>
                  </mat-form-field>

                  <mat-card class="specialcard"  *ngIf="errorMsg !== ''" class="help-block">{{errorMsg}}</mat-card>
                  &nbsp;&nbsp;&nbsp;

                  <button mat-stroked-button type="submit" (click)="addTask($event)">Add</button>
                </p>
              </div>
              </form>
            </mat-card>

            <!---Add Content Mat card-->


            <mat-card class="specialcard" *ngIf="tasks.length === 0; else listOfTasks">No tasks to show.</mat-card>

            <ng-template #listOfTasks>
             <!---Search Content Mat card-->
                <mat-card>
                  <mat-form-field class="example-full-width">
                    <mat-label>Search a Task</mat-label>
                    <input matInput [(ngModel)]="query" >
                  </mat-form-field>
                </mat-card>
              <!---Search Content Mat card-->
              <!---All Content Mat card-->
              <mat-card class="specialcard">
                <mat-nav-list>
                  <a mat-list-item appHighlight *ngFor="let task of (tasks | sort:'title' | search:query); let i = index">
                
                  <span matLine appCompleted [completed]="task.completed">{{ task.title }} - {{task.date | date:'medium'}}</span>

                  <button mat-icon-button (click)="removeTask(i)">
                    <mat-icon>delete</mat-icon>
                  </button>


                  <button mat-icon-button *ngIf="!task.completed" 
                            (click)="completeTask(task._id)" >
                  <mat-icon>done</mat-icon>
                  </button>
                  
                  <button mat-icon-button *ngIf="task.completed" (click)="resetTask(task._id)">
                    <mat-icon>repeat</mat-icon>
                  </button>
                  </a>
                </mat-nav-list>
              </mat-card>
              <!---All Content Mat card-->
            </ng-template>
          </div>
          <!-- main Container -->
          <!--______________________________        Page Ends     ___________________________________________________    -->
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>