
.btn {
    border-radius: 0px !important;
}





html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat";
  scroll-behavior: smooth;
  background-color: rgba(255, 255, 255, 0);
}
.done {
  text-decoration: line-through;
}




/*------------------------------------------------ sidenav content ------------------------------------------*/
.example-container {
display: flex;
flex-direction: column;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}

.example-sidenav-container {
/* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
   causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
flex: 1;
}

.example-is-mobile .example-sidenav-container {
/* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
   `<body>` to be our scrolling element for mobile layouts. */
flex: 1 0 auto;
}
/*------------------------------------------------------- sidenav content----------------------------------------- */

/* ------------------------------------------------------------toolbar---------------------------------------------- */
.example-is-mobile .example-toolbar {
position: fixed;
/* Make sure the toolbar will stay on top of the content as it scrolls past. */
z-index: 2;
}
/*-------------------------------------------------------------- toolbar--------------------------------------------- */

/* ---------------------------------------------------------form ----------------------------------------------------*/
.example-full-width {
width: 100%;
}
/*---------------------------------------------------------form -----------------------------------------------------*/

/*------------------------------------------------- dashboard css ------------------------------------------------*/

.container-fluid{
margin:0;
padding:0;
width: 100%;
transition: .5s;
}

h1.example-app-name {
margin-top: 8px;
margin-left: 8px;
}


/* .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  background-color: rgba(244, 245, 56, 0.64);
} */

.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
flex: 0 0 auto;
}
/*------------------------------------------------- dashboard css ------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------- */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(3, 3, 3);
    font-size: 14px;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ffffff;
    color: black;
    text-decoration: none;
  }
  
  li a:hover{
    color: rgb(199, 199, 199);
    text-decoration: none;
  
  }
  
  .specialcard{
    margin-top: 1%;
    margin-bottom:1%;
  }


